<div class="container">
    <div class="jumbotron">
    <h1>
        <%= @enlist.name %>小姐/先生，
    </h1>
    <p>
    参与广联达科技股份有限公司“万人学钢构”官方培训，学业优异，通过审核，特授予“钢构大师”资格
    </p>
    <p>
    <div class="bshare-custom icon-medium-plus">
        <a title="分享到" href="http://www.bShare.cn/" id="bshare-shareto" class="bshare-more">分享到</a>
        <a title="分享到QQ空间" class="bshare-qzone"></a>
        <a title="分享到微信" class="bshare-weixin"></a>
    </div>
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
    </p>
    </div>
    <%= link_to "回到首页", root_path, class:'btn btn-success btn-lg' %>
</div>