<div class="portlet-body form">
  <%= form_for @question_classify, url: defined?(url) ? url : admin_question_classifies_path, methods: :post do |f|%>
    <div class="form-body">
      <%= form_text_field(text_label: '分类名称', text_name: 'question_classify[name]', text_value: f.object.name) %>

      <%= f.submit '添加', :class => 'btn blue'%>
      <%= link_to '取消', admin_question_classifies_path, :class => 'btn default'%>
    </div>
  <% end -%>
</div>