<div class="row">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><%= link_to '已结束', show_events_path(state: 'end'), remote: true,  method: 'post' %></li>
    <li role="presentation">
      <%= link_to '即将开始', show_events_path(state: "new"), remote: true,  method: 'post' %>
    </li>
    <li role="presentation"><%= link_to '进行中', show_events_path(state: 'progress'), remote: true,  method: 'post' %></li>
  </ul>
</div>
<div class="row" id="home_main_row">
  <%= render :partial => "shared/events", :locals => {:events => events}%>
</div>
