<div class="row">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">分类1</a></li>
    <li role="presentation"><a href="#">分类2</a></li>
    <li role="presentation"><a href="#">分类3</a></li>
  </ul>
</div>
<div class="row">
  <% @events.each do |event|%>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img data-src="holder.js/100%x200" alt="100%x200" src="<%= event.logo_url%>" data-holder-rendered="true" style="height: 150px; width: 100%; display: block;">
      <div class="caption">
        <h4>
        <%= link_to truncate(event.name,:length => 12), event_path(event), {:title => event.name}%>
        </h4>
        <p>地点：<%= event.address %></p>
        <p>类型：<%= Event::EVENT_CATEGORY[event.category_id] %></p>
        <p><a href="#" class="btn btn-primary" role="button">查看</a> <a href="#" class="btn btn-default" role="button">加入</a></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
