<table class='table table-bordered table-condensed' style="width: 250px;">
  <tr>
    <th class='info text-center'>排序</th>
    <th class='text-center'><%= sort_link(@q, :weight, '热门', default_order: :desc)%></th>
    <td class='text-center'><%= sort_link(@q, :created_at, '发布时间', default_order: :desc) %></td>
  </tr>
</table>
