<style type="text/css">
  a.a_left_btn{
  }
  a.a_left_btn.hover{
    background-color: #ccc; 
  }
  a.a_right_btn{
  }
  a.a_left_btn.hover{
  }
</style>
<div class="row" style="margin-left:10px">
  <h3 style="border-bottom: 1px solid #ccc"><%= link_to @event.name, event_path(@event), class: 'navbar-link'%>  图片</h3>
  <p class="pull-right" style="margin-top:-30px">
    <%= link_to '返回', event_path(@event), class: 'fa fa-reply'%>
    <% if @event.user == @current_user%>
      <%= link_to '上传图片', uploader_event_path(@event), class: 'fa fa-upload'%>
    <% end -%>
  </p>
  <% photo = @event.photos.first %>
  <div class="row">
    <div class="col-md-1">
      <a href="" class="pull-right" id="a_left_btn">
        <img src="/images/left_btn_1.png" width="20" height="20"/>
      </a>
    </div>
    <div id="photo_content" class="col-md-10" style="text-align: center;">
      <%= image_tag photo.avatar_url(:lager)%>
    </div>
    <div class="col-md-1">
      <a href="" class="pull-left" id="a_right_btn">
        <img src="/images/right_btn_1.png" width="20" height="20" class="pull-left"/>
      </a>
    </div>
  </div>

</div>

<script>
  // 检查浏览器是否支持拖放上传。
    var photo_content = document.getElementById('photo_content');
    console.log(photo_content);
    var height = photo_content.style.height;
    console.log(photo_content.style);
    console.log(photo_content.style.height);

</script>