<header class="bar bar-nav">
  <button class="btn pull-left">
    Left
  </button>
  <button class="btn pull-right">
    Right
  </button>
  <h1 class="title">Title</h1>
</header>
<%= form_for @user, url:{action:'register'} do |f| %>
	<%= f.text_field :weixin_id %>
	<%= f.submit  %>
<% end %>