<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>W3cplus</title>
  </head>
  <body>
	大连市区1=0 & 大连市区2=0
	济南1=1 & 济南2=10
	菏泽1=1 & 菏泽2=0
	菏泽1=1 & 菏泽2=0
	济宁1=0 & 济宁2=0
	北京1=2 & 北京2=6
	菏泽1=1 & 菏泽2=0
	泰安1=0 & 泰安2=0
	活动预告1=0 & 活动预告2=0
  </body>
</html>