<div class="portlet box grey-cascade">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-globe"></i> 添加试题
    </div>
    <div class="tools">
      <a class="collapse" href="">
      </a>
    </div>
  </div>
  <%= render 'form' %>
</div>