<div class="portlet box grey-cascade">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-globe"></i> 修改角色
    </div>
    <div class="tools">
      <a class="collapse" href="">
      </a>
    </div>
  </div>
  <%= render partial: 'form', locals: {url: admin_role_path} %>
</div>