/*
 *= require_directory .
 *= require_self
 */
body{
  background: #E7EAEC;
}
#main{
  margin-top: 80px;
  padding-bottom: 70px; 
}
.nav-second-level{
  display: none;
}
#wrapper{
  border: 1px solid #eee;
}
#wrapper li{
  border-bottom: 1px solid #eee;
}
#wrapper a{
  font: bold;
  font-weight: 700;
  color: #333;
}
.row .nav-pills{
  padding-left: 15px;
  margin: 15px 0px;
}
.thumbnail{
  padding: 0px;
}
.img-thumbnail{
  padding: 0px;
}
.simple_form div.input{
  margin-bottom: 10px;
}
.simple_form input{
  width: 66%;
  height: 34px;
}
.simple_form label{
  width: 17%;
}
.error{
  color: red;
}