/*
 *= require_directory .
 *= require_self
 *= require font-awesome.min
 */
#main{
  margin-top: 80px;
}
.nav-second-level{
  display: none;
}
#wrapper{
  border: 1px solid #eee;
}
#wrapper li{
  border-bottom: 1px solid #eee;
}
#wrapper a{
  font: bold;
  font-weight: 700;
  color: #333;
}
.row .nav-pills{
  padding-left: 15px;
  margin: 15px 0px;
}
