
<div class="container">
	<div class="row">
		<div class="col-md-12" id="zhuanpan">
			<img class="img-responsive" id="img" src="http://mjjt.fwxgx.com/chinawhere/four_zhuanpan.gif" height="526" width="526">
			<img class="img-responsive" id="tip" src="http://mjjt.fwxgx.com/chinawhere/four1.gif" height="187" width="122">
		</div>

	</div>
</div>