<!-- <nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text text-center" style="width: 100%">去哪玩社区, 期待你的加入, 这里你可以探讨旅游、运动、学习等各类活动.</p>
  </div>
</nav> -->

<div class="navbar-bottom" style="text-align:center;">
	<br/><br/>
	<p>Glodon 1998-2016 广联达科技股份有限公司 京ICP证010052号 京ICP备10021606号-1 京公网安备110108401054号</p>
	<p>反馈QQ：2844772357 官方交流群：521848215 新浪微博：广联达钢结构 邮箱：2844772357@qq.com</p>
	<p>地址：北京市海淀区东北旺西路10号院中关村软件园13号广联达信息大厦 电话：010-56403403</p>
</div>
