<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>钢结构活动</title>
      <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	  <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
	  <%= javascript_include_tag '//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js' %>
</head>
<!-- <body style="background:  url(http://gjg.fwxgx.com/template/kym_xiaomi/portal/jxdy/images/body_bg.jpg) no-repeat fixed top;color: white;"> -->

<!-- <body style="background:  url(http://bpic.588ku.com/back_pic/04/35/82/3058491796e2ccb.jpg!/fw/1800/quality/90/unsharp/true/compress/true) ;color: white;background-size:100%"> -->


<!-- <body style="background:  url(http://desk.fd.zol-img.com.cn/t_s2880x1800c5/g5/M00/0D/0C/ChMkJ1X_aaeIMF2TAAo95p4LHCkAAC2wAMJrvQACj3-670.jpg) no-repeat scroll center top;color: white;"> -->

<body style="background:  url(http://gss.gspu.glodon.com/v1/AUTH_a91e21e6349a4ae29c5173b2ab8a4d3b/software/body_2.jpg) fixed repeat top center;background-size:cover;color: white;">
    <%= yield %>
    <%= render '/layouts/footer' %>
    <script>
	var _mtac = {};
	(function() {
	    var mta = document.createElement("script");
	    mta.src = "http://pingjs.qq.com/h5/stats.js?v2.0.2";
	    mta.setAttribute("name", "MTAH5");
	    mta.setAttribute("sid", "500424093");
	    var s = document.getElementsByTagName("script")[0];
	    s.parentNode.insertBefore(mta, s);
	})();
	</script>
</body>
</html>
