<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>钢结构活动</title>
      <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	  <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
	  <%= javascript_include_tag '//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js' %>
</head>
<body style="background:  url(http://gjg.fwxgx.com/template/kym_xiaomi/portal/jxdy/images/body_bg.jpg) no-repeat fixed top;color: white;">
    <%= yield %>
    <%= render '/layouts/footer' %>
</body>
</html>
