<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>W3cplus</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <%= stylesheet_link_tag 'weixin/ratchet.min' %>
        <%= javascript_include_tag 'weixin/ratchet.min' %>
    </head>
    <body>
        <header class="bar bar-nav">
            <a href="##" class="icon icon-bars pull-left"></a>
            <a href="##" class="icon icon-search pull-right"></a>
            <h1 class="title">W3cplus</h1>
        </header>
        <div class="content">
            <%= yield %>
        </div>
    </body>
</html>